body {
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  padding-top: 15%;
  background-image: url('./img/stars.jpg');
}

p {
  font-weight: 800;
}

.output, .default, .future, .nan {
  display: none;
}
